<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

<mat-card>
    <mat-card-title>Alterar</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do produto"
                [(ngModel)]="fornecedor.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ"
                [(ngModel)]="fornecedor.cnpj" name="cnpj">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updatefornecedor()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

</div>