<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

<mat-card>
    <mat-card-title>Alterar</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome do produto"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Status do produto (Ativo ou Desativado)"
                [(ngModel)]="product.status" name="status">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Quantidade"
                [(ngModel)]="product.quantidade" name="quantidade">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="ID fornecedor"
                [(ngModel)]="product.idfornecedor" name="idfornecedor">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="ID categoria"
                [(ngModel)]="product.idcategoria" name="idcategoria">
        </mat-form-field>
        
       
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

</div>