<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

<mat-card>
    <mat-card-title>Alterar</mat-card-title>
    <form>

   

        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="categoria.name" name="name">
        </mat-form-field>

        
 
        
       
    </form>
    <button mat-raised-button (click)="updatecategoria()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

</div>