.ordem-produtos{
    padding: 0 40px;
    h1{
        font-size: 28px;
        font-weight: bold;
        color: #0a182f;
        margin-bottom: 40px;
    }
}


.table tbody+tbody {
    border-top: 1px solid #dee2e6;
}

.wrapper {
    display: flex;
    width: 100%;
}

#content {
    width: calc(100% - 220px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 220px);
    }
}

