.bg-login{
    background: #0a182f;
    height: 100vh;
    display: grid;
    align-items: center;
    @media(min-width: 0px) and (max-width: 767px) {
    height: inherit;
    }
    .box{
        padding: 0 0 59px 0;
        @media(min-width: 0px) and (max-width: 767px) {
            padding: 30px 0 23px 0;
        }
    }
    .box-right{
        background: white;
        padding: 50px 70px;
        width: 603px;
        margin: 0 auto;
        @media(min-width: 0px) and (max-width: 767px) {
            width: 300px;
            margin-bottom: 50px;
        }
        h1{
            font-size: 28px;
            font-weight: bold;
            color: #0a182f;
            margin-bottom: 40px;
            text-align: center;
            margin: 0 0 15px 0;
        }
        p{
            font-size: 18px;
            color: #0a182f;
            text-align: center;
        }
        input{
            width: 100%;
            margin-bottom: 30px;
            border: none;
            border-bottom: 2px solid #0a182f;
            outline: none;
            
        }
        a{
            text-align: center;
            margin: 0 auto;
            display: block;
            border: 1px solid #0a182f;
            color: white;
            background: #0a182f;
            padding: 12px 55px;
            border-radius: 100px;
            outline: none; 
            width: 250px;
            text-decoration: none;
            @media(min-width: 0px) and (max-width: 767px) {
                width: 117px;
            }
        }
        button{
            text-align: center;
            margin: 0 auto;
            display: block;
            border: 1px solid #0a182f;
            color: white;
            background: #0a182f;
            padding: 12px 55px;
            border-radius: 100px;
            outline: none;
            width: 250px;
        }
    }
}