<section class="bg-login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 box">
                <img src="assets/img/logo.png" style="margin: 0 auto; display: block;">
            </div>
            <div class="col-md-6 box-right">
                <h1>Login</h1>
                <p>Entre com seus dados corretamente para acessar o sistema.</p>
                <input id="login" placeholder="Login">
                <input id="senha" placeholder="Senha">
                <a routerLink="/home">Entrar</a>
            </div>
        </div>
    </div>
</section>
