<nav id="sidebar">
    
    <div class="bg-logo">
        <i class="logo"></i>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="#">
                <i class="fas fa-box-open"></i>
                Ordem produtos
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-user-friends"></i>
                Funcionário
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-truck-loading"></i>
                Saída de produto
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-home"></i>
                Estoque completo
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-truck-loading"></i>
                Entrada de produto
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-user-friends"></i>
                Fornecedores
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-door-open"></i>
                sair
            </a>
        </li>

    

    </ul>

</nav>