#sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0a182f;
    color: #fff;
    transition: all 0.3s;
    &.active{
        margin-left: -220px;
    }
    ul{
        &.components{
            padding: 0px;
        }   
        p{
            color: #fff;
            padding: 10px;
        }
        li{
            font-size: 12px;
            color: #7B96C4;
            text-transform: uppercase;
            a{
                text-decoration: none;
                padding: 30px 23px;
                display: block;
                color: #a4acb9;
                &:hover{
                    color: #ffffff;
                    background: #111e33;
                }
                svg{
                    margin-top: -4px;
                }
                .icon-cursos-destaque{
                    background: url(../../../assets/svg/icon-cursos-destaque.svg) no-repeat;
                    width: 28px;
                    height: 24px;
                    margin-top: -4px;
                    float: left;
                }
                &:hover .icon-cursos-destaque{
                    background: url(../../../assets/svg/icon-cursos-destaque-hover.svg) no-repeat;
                }

                i{
                    font-size: 15px;
                    margin-right: 10px;
                    color: #0098bf;
                }

               
                
            }
        }
    }
    .bg-logo{
        background: #111e33;
        padding: 0px;
        .logo{
            background: transparent url('../../../assets/images/logo.png') 0% 0% no-repeat padding-box;
            background-size: cover;
            width: 220px;
            height: 89px;
            margin: 0 auto;
            display: block;
            box-shadow: 1px 2px 0px rgb(0 0 0 / 10%);
        }
    }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
} 

@media (max-width: 768px) {
    #sidebar {
        margin-left: -220px;
        &.active{
            margin-left: 0;
        }
    }
}

.dropdown-toggle::after {
    display: block;
    top: 26px;
    right: 8px;
    position: absolute;
    padding: 4px;
    box-shadow: 1px -1px 0 1px #7B96C4 inset;
    -webkit-box-shadow: 2px -2px #7B96C4 inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transform: rotate(-46deg);
    height: 35px;
    width: 35px;
    margin: 0;
}

.dropdown-toggle:hover::after {
    box-shadow: 1px -1px 0 1px #55E4D4 inset;
    -webkit-box-shadow: 2px -2px #55E4D4 inset;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul#pageSubmenu:before {
    content: "";
    width: 1px;
    height: 86px;
    float: left;
    background: #4CC3BB;
    margin-left: 50px;
    margin-top: 5px;
}

#pageSubmenu {
    li{ 
        a{
            padding: 8px 0 8px 58px !important;
            color: #485D81 !important;
            &:hover{
                color: #ffffff !important;
            }
        }
    }
}