<div class="wrapper">

    <app-menu-lateral></app-menu-lateral>
    
    <div id="content">
  
      <app-perfil></app-perfil>
  
      <div class="container-fluid movimentacao">
  
        <div class="row">
          <div class="col-md-12">
            <h1>Fornecedores</h1>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
  
            <div class="table-responsive">
              <table class="table">
  
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Razão Social</th>
                    <th scope="col">CNPJ</th>
                  </tr>
                </thead>
  
                <div *ngFor="let empresas of teste" style="display: contents;">
  
                  <tbody *ngFor="let cursos of empresas.Courses">
                    <tr *ngIf="cursos.Status == 'Active'">
                      <th scope="row">{{ cursos.Id }}</th>
                      <th>{{ empresas.Company }}</th>
                      <td>{{ cursos.Name }}</td>
                    </tr>
                  </tbody>
  
                </div>
  
              </table>
  
            </div>
  
          </div>
        </div>
  
      </div>
  
    </div>
  </div>